
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
 }

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
 } 

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
 }  

img {
    display: block;
    max-width: 100%;
    height: auto;
 }

button {
    cursor: pointer;
 }

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }

@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  } 
  
@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
  }  

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  /*mob-menu*/


.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.mob-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

.mob-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.mobile-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  

.mob-menu-nav {
    margin-bottom: auto;
    display: flex;
  } 

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  } 
 
.mob-address {
    margin-bottom: 48px;
  }

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }  

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
  }  

.mob-element-list {
    display: flex;
    gap: 40px;
    justify-content: center;
  }    

.mob-element-link {
    display: flex;
    gap: 24px;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.mob-element-icon {
    fill: #f4f4fd;
  }  


.mob-close-button:hover .mob-close-icon,
.mob-close-button:focus .mob-close-icon {
    fill: #fff;
  }  

.mob-close-button:focus,
.mob-close-button:hover {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }  

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-address-link:hover,
.mob-address-link:focus,
.mob-menu-link.current {
    color: #404bbf;
  }

.mob-element-link:hover,
.mobile-element-link:focus {
    background-color: #404bbf;
  }

@media screen and (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
  }




/*mob-heder*/

 .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;        
    }
  
.nav-list {
    display: none;
}

.contacts {
    display: none;   
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
  }

.header-logo {
    padding: 16px 0;
 }

.logo-part{
    color: #2e2f42;
 }

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
  }

.burger-icon {
    display: block;
    fill: #2f2f37;
  }

.current {
  color: #404bbf !important;
  position: relative;
  }
   
 .header-logo .logo-part {
    color: #2e2f42;
  }

  
  /*tab-heder*/

@media screen and (min-width: 768px) {
  .burger-button {
   display: none; 
 }  

 .contacts {
   font-style: normal;
   display: block;
 } 

 .nav-list{
   display: flex;
   align-items: center;
   gap: 40px;
 }

 .header-nav {
   display: flex;
   align-items: center;
 } 

 .header-logo {
   padding: 24px 0px;
   margin-right: 120px;
 } 

 .nav-link {
   position: relative;
   padding: 24px 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   display: block;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 

 .nav-link.current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  left: 0;
  border-radius: 2px;
  bottom: -8px;
 }

 .nav-link:hover:after,
 .nav-link:focus:after,
 .nav-link.current::after {
  opacity: 1;
 }

 .nav-link:hover,
 .nav-link:hover:focus,
 .contacts-link:hover,
 .contacts-link:focus,
 .nav-link.current {
  color: #404bbf;
 }


 .contacts-list {
 display: flex;
 flex-direction: column;
 gap: 12px;
 }

 .contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  font-size: 16px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
}

/* HEADER */


@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
    
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}



/*section 1*/

.hero-image {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 72px auto;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

@media screen and (min-resolition: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
} 

@media screen and (min-width: 768px) {
  .hero-image  {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab-1x.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px auto;
  }
}

@media screen and (min-resolition: 2x) {
  .hero-image {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab-2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-image {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-1x.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }
}

@media screen and (min-resolition: 2x) {
  .hero-image{
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-2x.jpg);
  }
}




/*section 2*/


.section-one{
  padding: 96px 0;
}

.section-one-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.section-one-item {
  width: 100%;
}

.icon-container {
  display: none;
}

.section-one-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-one-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


@media screen and (min-width: 768px) {
  .section-one-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .section-one-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-one {
    padding: 120px 0;
  }

  .section-one-item {
    flex-basis: calc((100% - 72px) /4); 
  }

  .section-one-list {
    display: flex;
    gap: 24px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    width: auto;
    background-color: #f4f4fd;
    border: solid 1px #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px; 
  }

  .section-one-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  } 

  .section-one-text {
    font-weight: 400;
  }
}

/*section 3*/

.ourteam {
  background: #f4f4fd;
  padding: 96px 0;
}

.ourteam-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.ot-team-list {
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.div-class {
  padding: 32px 0;
}

.ot-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.ot-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  
}


.link-icon {
  gap: 24px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf; 
}

.team-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .ourteam {
    padding: 96px 0;
  }

  .ourteam-list {
    row-gap: 64px;
    column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ot-team-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .ourteam{
    padding: 120px 0;
  }

  .ourteam-list {
    gap: 24px;
    min-width: 1158px;
  }

  .ot-team-list {
    width: calc((100% - 72px) / 4);
  }
}


/*section 4*/


.section-portfolio {
  padding: 96px 0;
  }

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
  
.portfolio-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 48px;
  }

.div-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  align-items: center;
  }

.cover-wrap {
    position: relative;
    overflow: hidden;
   }

.cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  }

.portfolio-service {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
  }

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }


@media screen and (min-width: 768px) {
  .section-portfolio  {
      padding: 96px 0;
    }
  
  .portfolio-list{
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    }
  
  .portfolio-item {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item:hover {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .cover-text {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }
}



/*footer*/


.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;  
}

.logo-part {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display:inline-block;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  width: 552px;
}

.footer-text-container {
  text-align: center;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width:288px;
  text-align: start; 
}

.footer-icon-container {
  margin: 0 auto;
}

.icon-cover {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px; 
  display: block;
  text-align: center;
}

.foother-icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.link-icon-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: #31d0aa; 
}

.footer-icon {
  fill: #f4f4fd;
}

.icon-cover {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 1.5;
}

.footer-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  margin: 0;
}

.footer-input::placeholder {
  color: #ffffff; 
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

.icon-telegram {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 16px;;
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 96px 0;
  }

  .footer-text-container {
    margin-right: 24px;
    text-align: start;
  }

  .text-footer{
    max-width: 264px;
  }

  .icon-cover {
    text-align: start;
  }

  .footer-subscribe {
    margin-bottom: 16px;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer{
    padding: 100px 0;
  }

  .footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 1158px;
  }

  .footer-icon-container{
    margin-right: 120px;
  }

  .footer-social {
    align-items: baseline;
  }

  .footer-form {
    gap: 24px;
  }
}




/*modal*/
  
  

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(46, 47, 66, 0.4) ;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }  

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close {
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.icon-close {
  fill: #2e2f42;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.footer-button-close {
  fill: #2e2f42;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  line-height: 1.5;  
} 
.wrapper-icon {
  position: relative;
  margin-bottom: 8px;
}

.input-modal {
  width: 100%;
  background-color: transparent;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.label-modal{
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;

}

.input-modal-icon{
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-box {
  margin-bottom: 8px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-button-close:hover,
.modal-button-close:focus{
  background-color: #404bbf;
  border: none;
}
 
.modal-button-close:hover > .icon-close {
  fill: #ffffff

}
  
.modal-button-close:focus > .icon-close {
  fill: #ffffff
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.input-modal:focus {
  border-color: #4D5AE5; 
} 

.input-modal:focus + .input-modal-icon {
  fill: #4D5AE5;
} 

.modal-textarea {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-textarea:focus{
  border-color: #4D5AE5;
} 
  
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
} 

.modal-com {
  margin-bottom: 16px;
}






/* checkbox */


.checkbox {
  margin-bottom: 24px;
  
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
} 

.modal-check-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.check-text-policy {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.button-button-send { 

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
} 